
@font-face {

    font-family: 'MyFont';
  
    src: url('./rubikIso.ttf') format('ttf'),
    url('./lobster.ttf') format('ttf');

  
    font-weight: 600;
  
    font-style: italic;
  
  }
  
* {
  border: 1px solid black;
}

.nav-bar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: auto;
  
}
.home,
.menu,
.info {
  width: 150px;
  height:50px;
  margin-left:3rem;
  border-radius:.4em ;
  background:#fff;
}

img {
  max-width:45%;
  max-height: calc(max-width);
  margin: 20px;
}

h1 {
  font-family: 'MyFont';
}
